<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">PeliculasAPP</h1>
        <p class="lead">Esta es una aplicación de películas</p>
    </div>
</div>

<div class="container">
    <br>


    <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Películas En Cartelera"></app-galeria>
    <app-galeria [peliculas]="populares|slice:0:6" titulo="Películas Populares"></app-galeria>
    <app-galeria [peliculas]="ninos|slice:0:6" titulo="Películas Populares Entre los Niños"></app-galeria>


</div>
